/* inspired by this design https://www.behance.net/gallery/212417965/Personal-Portfolio-Web-UI-DesignConcept?tracking_source=search_projects|web+design+portfolio&l=103 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  border-width: clamp(0.05rem, 0.8vw, 1rem);
  border-style: solid;
  border-color: #390082;
  background: #f1e8f8;
  font-family: "Poppins", sans-serif;
}

.container-body {
  width: 1280px;
  max-width: 90%;
  margin: auto;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f5f8f8;
  overflow: hidden;
}

.a-nav, .icon {
  display: flex;
  transition: background-color 0.4s ease, color 0.4s ease;
  width: 7em;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.a-nav:hover, .icon:hover {
  background-color: #9747ff;
  color: white;
}

.icon {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Serif", serif;
  font-weight: 800;
}

h1.name {
  background: linear-gradient(to right, #f82d96, #9747ff, #0075ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: "Russo One", sans-serif;
  font-weight: 500;
  font-size: 3em;
}

h2.title {
  font-family: "Russo One", sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  margin-bottom: 1.5em;
}

h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  text-align: justify;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 3;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  width: 600px;
  max-width: 90%;
  margin: auto;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: clamp(0.5rem, 2vw, 2rem);
}

.words {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.words span {
  font-size: 1.5em;
  font-weight: bold;
  margin: 1em;
}

.education {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #f5f8f8;
  padding: 1em 3em 3em 3em;
  box-shadow: 0 4px 12px rgba(57, 0, 130, 0.3);
  transition: box-shadow 0.5s ease;
}

.education:hover, .languages div:hover, .project:hover {
  box-shadow: 0 8px 16px rgba(57, 0, 130, 0.5);
}

.education div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.p-education {
  min-width: 8em;
  color: grey;
  font-size: 1.2em;
}

.languages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.languages div {
  background-color: #f5f8f8;
  border-radius: 10px;
  padding: 0.5em 1em 1em 1em;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 22%;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(57, 0, 130, 0.3);
  transition: box-shadow 0.5s ease;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 2em;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 48.5%;
  flex-direction: column;
  overflow: hidden;
  margin: 1em 0;
  background-color: #f5f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(57, 0, 130, 0.3);
  transition: box-shadow 0.5s ease;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1em 2em;
  margin: auto;
  flex: 1;
}

.project-button {
  margin: 3em auto;
}

.contact {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 400;
  border: 2px solid transparent;
  border-radius: 1em;
  cursor: pointer;
  height: 2.1em;
  width: 10em;
  transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
  background-color: #9747ff;
  color: white;
  text-decoration: none;
  overflow: hidden;
}

.screenshot {
  position: relative;
  padding-top: 48%;
  overflow: hidden;
  border-radius: 10px;
}

.project img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.4s ease;
}

.project img:hover {
  transform: scale(1.03);
}

.desktop-button {
  margin-top: 3em;
}

.contact:focus {
  outline: none;
}

.contact:hover {
  background-color: #be9cea;
}

.contact i {
  margin-right: 0.5em;
}

.mobile-button {
  display: none;
}

.photo-frame {
  order: 2;
  width: auto;
  height: auto;
}

.photo-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 25%;
}

.photo {
  height: auto;
  object-fit: cover;
  width: clamp(8rem, 25vw, 25rem);
  filter: grayscale(100%);
}

.bracket-left {
  order: 1;
  left: 0;
  font-size: clamp(9rem, 28vw, 28rem);
  font-family: monospace;
  color: transparent;
  background: linear-gradient(45deg, #ff00ff, #0000ff);
  -webkit-background-clip: text;
}

.bracket-right {
  order: 4;
  right: 0;
  font-size: clamp(9rem, 28vw, 28rem);
  font-family: monospace;
  color: transparent;
  background: linear-gradient(45deg, #0000ff, #ff00ff);
  -webkit-background-clip: text;
}

footer {
  width: 100%;
  text-align: center;
}

footer div {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 2em;
  font-size: 2em;
  margin: 2em 0 1em 0;
}

footer a {
  transition: color 0.4s ease;
  color: grey;
}

footer a:hover {
  color: #390082;
}

@media (max-width: 1100px) {
  .languages div {
    flex-basis: 45%;
    margin: 0.5em 0;
  }
  .project {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 999px) {
  .main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .title-container {
    order: 1;
    width: 100%;
  }

  .main-container::after {
    content: "";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    order: 2;
  }
 
  .bracket-left {
    order: 2;
  }
  
  .photo-frame {
    order: 2;
  }
  
  .bracket-right {
    order: 2;
  }

  .desktop-button {
    display: none;
  }
  
  .mobile-button {
    order: 3;
    display: flex;
    justify-content: center;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
  }

  .education div {
    flex-direction: column;
  }

  .p-education {
    margin: 0.3em 0;
  }

}

@media screen and (max-width: 600px) {
  .menu.responsive {
    position: relative;
    flex-direction: column;
  }
  .menu.responsive .icon {
    order: 1;
    display: block;
    text-align: center;
    width: 100%;
  }
  .menu.responsive .a-nav {
    order: 2;
    display: block;
    text-align: center;
    width: 100%;
  }
  .a-nav {display: none;}
  .icon {
    display: block;
    text-align: center;
    width: 100%;
  }
  .languages div {
    flex-basis: 100%;
    margin: 0.5em 0;
  }
  .education {
    padding: 1em;
  }
  p {
    font-size: 0.87em;
  }
}